---
layout: page
title: About
page-title: Meet the Flock
permalink: /about/
weight: 1
header-image: https://128keaton.github.io/flockunited.com/images/crew.jpeg
fa-tag: <i class="fa fa-users" aria-hidden="true"></i>
---
<div class="profiles">
      {% assign sorted = (site.profiles| sort: 'weight') | reverse %}
      {% for profile in sorted %}
    <div class="profile">
        <div style="background: url('https://128keaton.github.io/flockunited.com/{{ profile.image }}');     background-size: cover;" class="profile-img"></div>
        <h3 class="profile-heading">{{ profile.name }}{% if profile.title != "" %}<br><span class="title">{{ profile.title }}</span>{% endif %}{% if profile.location != nil %}<br><span>{{ profile.location }}</span>{% endif %}</h3>
        <div class="profile-content">
            <p>{{ profile.content }}</p>
        </div>
    </div>
{% endfor %}
</div>
<h1>Our Story</h1>
<p>Flock United was founded by Lauren Crowe and co-founded by Madison Provence and Kevin Murphy. Flock United is the result of a co-op effort between two colleges in the Memphis area, University of Memphis and Christian Brothers University. </p>
