/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */
body {
    font: 400 16px/1.5 'Fira Sans', sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
.highlight,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
    margin-bottom: 15px;
}

*,
:after,
:before {
    box-sizing: border-box;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 14px;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: 30px;
}

li > ol,
li > ul {
    margin-bottom: 0;
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
/**
 * Links
 */
a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #111;
    text-decoration: underline;
}
/**
 * Wrapper
 */
.page-content {
    width: 80%;
    margin: 0 auto;
}
/**
 * Site header
 */
.header {
    background-color: $yellow;
    margin-bottom: 22px;
    padding-bottom: 20px;
    text-align: center;
}

.header img {
    width: 200px;
}

.header a:hover,
.page-link-chill a:hover {
    text-decoration: none!important;
}

.inner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-title {
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: $blue;
    font-weight: 100;
}

.page-link-chill {
    font-size: 20px;
    margin: 42px;
    color: $blue!important;
    text-decoration: none!important;
}

.page-link-chill > a {
    text-decoration: none;
    color: rgba(0,0,0,.4);
    z-index: 1;
}

.page-link-chill > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: 0;
    background: $blue;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.25s linear;
}

.page-link-chill > a:focus:before,
.page-link-chill > a:hover:before {
    visibility: visible;
    text-decoration: none!important;
    transform: scaleX(1);
}

.page-link-chill:hover {
    text-decoration: underline;
}

.site-nav .page-link {
    line-height: 1.5;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.site-nav .trigger {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page-link .fa {
    margin-right: 7px;
}

.green {
    background-color: #26e233!important;
}

.pink {
    background-color: #e2266a!important;
}

.blue {
    background-color: $blue;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

.header-image {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
    z-index: 4;
}
/**
 * Home
 */
.home-base {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
}

#empty {
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.fixed-sidebar {
    width: 35%;
    height: 100%;
}

.inner-sidebar {
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    position: fixed;
    width: 35%;
}

#empty #mobile,
#mobile img {
    display: none!important;
}

#empty a {
    width: 100%;
    padding: 14px;
    color: $yellow;
}

#empty a:hover {
    text-decoration: none;
}

.video {
    height: 100vh;
    width: 35%;
    display: flex;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
}

.about {
    width: 55%;
    margin-top: 150px;
    padding: 0 32px;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.about-text {
    margin-top: 100px;
    max-width: 550px;
    width: 100%;
}

.about-text p {
    margin-bottom: 50px;
}

#mobile img,
.header img,
.logo-wrapper img {
    width: 200px;
}

.intro {
    max-width: 550px;
}

.intro h2 {
    font-size: 35px;
}

.about::after,
.about::before {
    content: '';
}
/* WORDS SWAP */
[data-words] {
    vertical-align: top;
    position: static;
}

[data-words] > span {
    position: absolute;
    color: $blue;
    border-bottom: 4px solid $yellow;
}

.logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-wrapper img {
    width: 200px;
}

.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin: 25px;
    flex-grow: 1;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/**
 * Profiles
 */
.profiles {
    display: flex;
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.profile::after {
    clear: both;
}

.profile {
    margin-left: -5px;
    margin-right: -5px;
    width: 188px;
    height: 440px;
    padding: 22px;
}

.profile-img {
    border-radius: 100%;
    display: block;
    margin-bottom: 20px;
    width: 160px;
    height: 160px;
    padding-bottom: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.profile-img:hover {
    transform: rotateZ(3deg);
}

.profile .title {
    font-size: 20px;
    font-weight: 300;
}

.profile span {
    font-size: 18px;
    font-weight: 100;
    color: gray;
}

.story {
    margin-bottom: 55px;
}

.story p {
    width: 80%;
    margin: 0 auto;
}
/**
 * Locations
 */
.locations {
    display: flex;
}

.location {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    margin: 25px;
    background-color: #f9f9f9;
}

.location span {
    font-size: 14px;
    color: #d2cece;
}

.inner-location {
    flex-grow: 1;
}

.location-number {
    background-color: black;
    width: 50px;
    color: white;
    font-size: 25px;
}

#blank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction-notice {
    color: #d2cece;
}
/**
 * Packages
 */
.packages {
    display: flex;
    justify-content: center;
    align-content: center;
}

.package {
    margin: 12px;
    color: rgb(20, 20, 20);
    width: 300px;
    background-color: #d9d9d9;
    text-align: center;
}

.package span {
    font-size: 18px;
    width: 100%;
    display: block;
}

.package-features {
    text-align: left;
}

.package h1 {
    font-size: 35px;
    font-weight: 100;
    height: 100px;
    font-style: oblique;
    letter-spacing: 1px;
    color: $yellow;
    background-color: $blue;
    width: 100%;
    display: block;
    margin-bottom: 0 !important;
    padding-top: 20px;
}

.package h2 {
    background-color: $yellow;
    height: 70px;
    padding-top: 20px;
}
/**
 * Site footer
 */
#footer {
    margin-bottom: 20px;
    text-align: center;
    color: #c1bdbd;
}

.home-footer #footer {
    text-align: left;
}
/**
 * 404
 */
.fourohfour {
    text-align: center;
}

.fourohfour img {
    max-width: 200px;
    border: 5px solid beige;
}
/**
 * Core Values
 */
.core-values {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.value {
    position: relative;
    text-align: center;
    margin: 20px;
}

.value h1 {
    font-size: 30px;
    color: $blue;
}
/**
 * Mobile
 */
@include media-query(1200px) {
    .core-values {
        width: 80%;
    }
}
@include media-query(1360px) {
    .profile-img {
        position: relative;
    }
}
@include media-query($on-palm) {
    .inner-header {
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .logo-wrapper .logo {
        width: 80px;
    }

    .fixed-sidebar {
        width: auto;
        height: auto;
    }

    .inner-sidebar {
        width: 100%;
        position: relative;
    }

    .site-nav {
        margin-right: 0;
    }

    .page-link-chill {
        margin: 12px;
    }

    #empty {
        width: 100%;
        flex-direction: row;
    }

    #empty a {
        width: auto;
        font-size: 50px;
        padding: 10px;
        color: $yellow;
    }

    #mobile {
        color: #fff;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background-color: $yellow;
    }

    #mobile img {
        display: inline!important;
    }

    .home-base {
        display: block;
        max-width: 100%;
    }

    .home-footer #footer {
        text-align: center;
    }

    .video {
        width: 100%;
        height: auto;
    }

    .about {
        margin-top: 0;
        display: block;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .about-text {
        margin: 20px auto 0;
    }

    .logo-wrapper {
        text-align: center;
    }

    .logo-wrapper {
        display: none;
    }

    .intro h2 {
        font-size: 20px;
    }

    .intro {
        margin: 40px auto 0;
    }

    .site-nav .trigger {
        align-items: center;
        justify-content: center;
    }

    .site-nav .page-link {
        font-size: 14px;
        margin: 10px 0 10px 10px !important;
    }

    .iframe-container {
        margin: 0;
    }
    /**
     * Locations
     */
    .locations {
        flex-direction: column;
    }

    .location span {
        display: block;
    }

    #blank {
        display: none!important;
    }
    /**
     * Prices
     */
    .packages {
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .package {
        margin: 4px;
    }

    .package h1 {
        font-size: 42px;
    }

    .inner-profile {
        position: relative;
        border: none;
        opacity: 1.0!important;
    }

    .profile {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .profiles {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}
