/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */
body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
.highlight,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
    margin-bottom: 15px;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 14px;
}
/**
 * Lists
 */
ol,
ul {
    margin-left: 30px;
}

li > ol,
li > ul {
    margin-bottom: 0;
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
/**
 * Links
 */
a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

a:hover {
    color: #111;
    text-decoration: underline;
}
/**
 * Blockquotes
 */
blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote > :last-child {
    margin-bottom: 0;
}
/**
 * Code formatting
 */
code,
pre {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}
/**
 * Clearfix
 */
.footer-col-wrapper:after,
.wrapper:after {
    content: "";
    display: table;
    clear: both;
}
/**
 * Icons
 */
.icon > svg {
    display: inline-block;
    vertical-align: middle;
}

.icon > svg path {
    fill: #828282;
}
/**
 * Site header
 */
.site-header {
    min-height: 54px;
    position: relative;
    border-bottom: 1px solid $blue;
}

.inner-header {
    display: flex;
}

.logo-wrapper {
    flex-grow: 1;
    min-width: 100px;
}

.logo-wrapper .logo {
    width: 50px;
    padding: 2px;
    margin-top: 4px;
}

.site-nav {
    float: right;
    line-height: 56px;
    margin-right: 24px;
}

.site-nav .page-link {
    line-height: 1.5;
}

.page-link .fa {
    margin-right: 7px;
}

.green {
    color: #26e233!important;
}

.pink {
    color: #e2266a!important;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

.header-image {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
    z-index: 4;
}
@include media-query($on-palm) {
    .inner-header {
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .logo-wrapper .logo{
      width: 80px;
    }
    .site-nav{
      margin-right: 0;
    }
}
/**
 * Home
 */
#home {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#173c70+0,2b476b+100 */
    background: #173c70;
    /* Old browsers */
    background: -moz-linear-gradient(top, #173c70 0%, #2b476b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #173c70 0%,#2b476b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #173c70 0%,#2b476b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#173c70', endColorstr='#2b476b',GradientType=0 );
    /* IE6-9 */
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -20px;
    position: relative;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 120px;
    color: $blue;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
}

.intro span {
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.inner-wrapper {
    width: 55%;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

.inner-wrapper h2 {
    font-size: 45px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: 100;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}

#home p {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 45px;
}
.iframe-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 25px;
}

.iframe-container iframe {
 position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
}

@include media-query($on-palm) {
  .intro{
    margin: 25px;
  }
  .intro h1{
    font-size: 55px;
  }
  .intro span{
    text-align: center;
    font-size: 18px;
  }
  .inner-wrapper{
    width:  88%;
  }
  .inner-wrapper h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: normal;
  }
  #home p{
    font-size: 18px;
  }
  iframe{
      height: 45%;
  }
}
/**
 * Profiles
 */
.profiles {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.profile {
    margin: 12px;
    max-width: 188px;
    height: 340px;
    padding: 12px;
}

.profile-img {
    border-radius: 100%;
    display: block;
    margin-bottom: 20px;
    width: 160px;
    height: 160px;
    padding-bottom: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.profile-img:hover {
    transform: rotateZ(3deg);
}

.profile .title {
    font-size: 20px;
    font-weight: 300;
}

.profile span {
    font-size: 18px;
    font-weight: 100;
    color: gray;
}
/**
 * Locations
 */
.location span {
    font-size: 14px;
}

.construction-notice {
    text-align: center;
    color: gray;
}
/**
 * Packages
 */
.packages {
    display: flex;
    justify-content: center;
    align-content: center;
}

.package {
    margin: 12px;
    color: rgb(20, 20, 20);
    width: 300px;
    height: 200px;
    background-color: #d9d9d9;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.package span {
    font-size: 12px;
}

.package h1 {
    font-size: 45px;
    font-weight: 100;
    font-style: oblique;
    letter-spacing: 1px;
    color: $yellow;
    background-color: $blue;
    width: 100%;
    display: block;
    padding-left: 12px;
    margin-left: -12px;
    padding-right: 12px;
    border-top-right-radius: 12px;
}
@include media-query($on-palm) {
  .packages{
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .package{
    margin: 4px;
  }
  .package h1{
    font-size: 42px;
  }
}
/**
 * Site footer
 */
.footer {
    width: 100%;
    text-align: center;
    color: #fff;
}

.social a {
    margin: 12px;
    color: white;
}

#page,
#page .social a {
    color: #000;
}

.social a:hover {
    text-decoration: none;
    cursor: pointer;
}
