<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div class="page-content" id="home-wrapper">
        <div id="home" class="wrapper">
          <div class="inner-wrapper">
              {{ content }}
          </div>
            <div class="intro">
                <h1><img src="/images/flock.jpeg">{{ site.title }}</h1>
                <h3>{{ site.tagline }}</h3>
                <p>Flock is a ride-sharing startup designed by college students, for college students. Our vision is to provide safe, cost-friendly ridesharing with between students of the same university. After all, why ride with strangers when you have friends? </p>
                {% include nav.html %}
            </div>
        </div>
      {% include social.html %}
    </div>
</body>

</html>
